.Day{
    width: 70%;
    margin: 0 auto;

 margin-top: 20px;
}

.View {
    width: 70%;
    border-radius: 5px;
    border: 1px solid rgb(209, 204, 204);
    box-shadow: 0 2px 3px rgb(214, 212, 212);
    padding: 10px;
    margin: 10px auto;
    /* box-sizing: border-box; */
    background-color: rgb(244, 248, 247);
}
