.Main{
    /* margin-top: 10%;
     */
     padding-bottom:60px; 
}
.Button{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .Dropdown{
      
      position:relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin:  auto;
   
  }

  .NoResult{
   text-align: center;
    color:rgb(218, 143, 32)

  }