/* .Main{ */
    /* margin-top: 10%;
     */
     /* padding-bottom:60px;  */
/* } */
.Button{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .Dropdown{
      
      position:relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin:  auto;
   
  }

  .NoResult{
    align-items: center;
   color:rgb(0, 0, 0)

  }
  

  .FilterTitle{
    text-align: center;
    font-size: 20px;
  }

  .Filters{
    margin-top: 20px;
    margin-left:20px;
    margin-right:auto;
    height:auto; 
    width:100%;

    border-radius: 5px;
    border: 1px solid rgb(209, 204, 204);
    box-shadow: 0 2px 3px rgb(214, 212, 212);
    /* background-color: #fcfcfc; */
    background-image: linear-gradient(   #e0e0e0 , #ffffff, #e0e0e0);
    height:600px;
    padding: 15px;
    
    /* position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  auto; */
  }

  @media screen and (max-width: 770px) {
    .Filters{
      width:90%;
      height:400px
    }

  }