.Login {
    margin: 60px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 5px 6px #ccc;
    border: 2px solid #eee;
    padding: 20px;
    box-sizing: border-box;
}

.Text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
  
}

.Header{
    font-family: 'Times New Roman', Times, serif;
    /* font-size: 1.6rem; */
    color:#54678f;  
}

@media (min-width: 600px) {
    .Login {
        width: 500px;
    }
}