.Button {
    font-family: 'Times New Roman', Times, serif;
    /* background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px; */
    /* font-weight: bold; */
}

/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Submit {
    color: #54678f;
    background-color: rgb(175, 185, 187);
    border-radius: 10% 10% 10% 10%;
    width: 50%;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
} */