.ViewProduct {
    margin-top: 20px;
}

.Column{
    position: relative;
    width: 100%;
    display: flex;
}

.Header{
    color:#217892;
    text-align:center;
    font-weight: bold;
    font-size: 21px;
}

.Product{
    width: 50%;
    border-radius: 5px;
    border: 1px solid rgb(209, 204, 204);
    box-shadow: 0 2px 3px rgb(214, 212, 212);
    padding: 10px;
    margin: 10px auto;
    /* box-sizing: border-box; */
    background-color: #ffffff;
}